<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Line-bot with Firebase</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class="title">
        Line-bot with Firebase
    </h1>
    <div class="content">
        <div class="side-bar">
            <h3>Friend</h3>
            {% for user in users %}
                <div>
                    <img src="{{user.picture_url}}" alt="" width="20%">
                    {{user.display_name}}
                </div>
            {% endfor %}
        </div>
        <div class="message-body">
            <h3>message</h3>
            {% for message in messages %}
                <p style="padding-left: 3em; text-indent: -3em;">
                    <strong>{{ message.user_name }}</strong> <span class="time">{{ message.timestamp | datetime_format('%d %B %Y') }}</span> <br>
                    {{ message.text }}
                </p>
            {% endfor %}
        </div>
    </div>
</body>
</html>